body {
    background-color: #0f172a;
}
.welcome-title {
    text-align: center;
    color:white;
} 
.container {
    background-color: #2c2c2c;
    padding: 50px;
    border-radius: 10px;
    width: 450px;
    margin: 90px auto;
    color: white;
    text-align: center;
}

.balance-box {
    background-color: #1b1b1b;
    padding: 40px;
    border-radius: 8px;
    margin-top: 30px;
    border: 2px solid #4CAF50;
    text-align:center;
}

.balance-box p {
    margin: 40px 0;
    font-size: 16px;
    font-weight: bold;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #45a049;
}
