body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.welcome-title {
    text-align: center;
    font-size: 26px;
    margin:5px;
}

.container {
    background-color: #1f1f1f;
    width: 450px;
    max-width: 500px;
    margin: 10px auto 0 auto;
    padding: 20px 20px;
    border-radius: 12px;
    text-align: center;
    border: 3px solid #4CAF50;
   
}

h2 {
    margin: 0 0 30px 0;
    font-size: 24px;
    color: #4CAF50;
}

input[type="number"], 
input[type="text"], 
input[type="password"] {
    width: 88%;
    padding: 16px;
    margin: 12px 0;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    text-align: center;
    background-color:#333;
    color: white;
}

.btn {
    width: 88%;
    padding: 18px;
    margin-top: 25px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.back-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: green;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #666;
}

#msg {
    min-height: 80px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 22px;
    color: #ff6b6b;
    padding: 10px;
}

#msg::before {
    color: #4CAF50;
    font-weight: bold;
}