body {
    margin: 0;
    padding: 0;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.menu-container {
    text-align: center;
}

.menu-container h2 {
    color: white;
    margin-bottom: 150px;
    font-size: 50px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 40px 80px;
    justify-content: center;
}

.menu-box {
    background: #1e293b;
    padding: 18px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.menu-box:hover {
    background: #334155;
    transform: scale(1.05);
}

.logout {
    background: #dc2626;
}

.logout:hover {
    background: #b91c1c;
}
