body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
}
.welcome-title {
    text-align: center;
    color:white;
}

.container {
    background-color: #1f1f1f;
    color: #fff;
    width: 340px;
    margin: 40px auto 0 auto;
    padding: 35px 30px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #4CAF50;
}

h2 {
    margin: 10px 0 20px 0;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #888;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #666;
}

#msg {
    margin-top: 15px;
    font-weight: bold;
}
/* WITHDRAWAL SPECIFIC STYLES */
#amount {
    font-size: 15px;
    text-align: center;
    padding: 16px;
    width: 85%;
}

.btn {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#msg {
    min-height: 80px;
    font-size: 22px;
    margin-top: 20px;
}