/* General body style */
body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: #fff;
}
welcome-title {
    text-align: center;
}

/* Container box for modules */
.container {
    background-color: #1f1f1f;
    width: 400px;
    margin: 90px auto;
    padding: 90px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #4CAF50;
}

/* Headings */
h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

/* Transaction list */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.list li {
    background-color: #2a2a2a;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    border-left: 4px solid #4CAF50;
    font-size: 15px;
}

.list li p {
    margin: 2px 0;
}

/* Back button */
.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    border: 2px solid #4CAF50;
    background-color:#4CAF50 ;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #666;
}

/* Success/Error message (optional) */
#msg {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}
